<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>Hello, world!</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body>

  <form action="{{url_for('results')}}" method="POST">
    <lable>Template</label><br>
    <input type="text" name="template"><br>
    <lable>Data</label><br>
    <textarea  name="data" rows="4" cols="50"></textarea><br>
    <input type="submit" name="submit" value ="submit">

    

  </form>

</body>

</html>